@import "../var";

.footer-links {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;

  .icon-github-circled {
    font-size: $font-l;
    color: white;
    transition: 0.1s;
  }

  .icon-github-circled:hover {
    color: $main-color;
  }
  .icon-github-circled:active {
    color: $main-color;
    filter: brightness(90%);
  }
}
