@import "../var";

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 100%;
  margin-bottom: 1rem;

  .form-text {
    width: 100%;
  }
}

.label {
  font-size: $font-s;
}

.textarea {
  width: 100%;
  height: 15rem;
  resize: none;
  font-size: $font-s;

  &.textarea-result {
    margin-bottom: 1rem;
  }
}

.accordion {
  margin: 1rem 0;
  width: 100%;

  .accordion-summary {
    text-align: center;
    font-size: $font-s;
    cursor: pointer;
  }
}
