@import "../var";

.text-p {
  font-size: $font-s;
}

.text-h1 {
  font-size: $font-xl;
  text-align: center;
}

.text-h2 {
  font-size: $font-l;
  text-align: center;

  &::before {
    content: "- ";
  }

  &::after {
    content: " -";
  }
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}
