.l-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;

  min-height: 100vh;
}

.l-desc,
.l-form {
  padding: 2rem;
}

.l-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 60vw;
  border-radius: 1rem;
  background-color: white;
  filter: drop-shadow(0.7rem 0.7rem 0.7rem rgba(0, 0, 0, 0.2));
}

.l-footer {
  margin: 2rem 0 1rem 0;
}

@media screen and (max-width: 1050px) {
  .l-form {
    width: 80vw;
  }
}
